@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a,
ul,
ol,
li {
  list-style: none;
  text-decoration: none;
}